[submodule "ls--"]
	path = ls--
	url = https://github.com/trapd00r/ls--.git
[submodule "emacs.d/auto-complete-clang"]
	path = emacs.d/auto-complete-clang
	url = https://github.com/brianjcj/auto-complete-clang.git
[submodule "bin/git-bz-moz"]
	path = bin/git-bz-moz
	url = https://github.com/jlebar/git-bz-moz.git
[submodule "emacs.d/fill-column-indicator"]
	path = emacs.d/fill-column-indicator
	url = https://github.com/alpaker/Fill-Column-Indicator.git
[submodule "bin/gti-git"]
	path = bin/gti-git
	url = https://github.com/rwos/gti.git
[submodule "emacs.d/helm"]
	path = emacs.d/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "tmux-powerline"]
	path = tmux-powerline
	url = git://github.com/erikw/tmux-powerline.git
[submodule "emacs.d/fic-mode.git"]
	path = emacs.d/fic-mode.git
	url = https://github.com/lewang/fic-mode.git
