[submodule "ls--"]
	path = ls--
	url = https://github.com/trapd00r/ls--.git
[submodule "emacs.d/auto-complete-clang"]
	path = emacs.d/auto-complete-clang
	url = https://github.com/brianjcj/auto-complete-clang.git
[submodule "bin/git-bz-moz"]
	path = bin/git-bz-moz
	url = https://github.com/jlebar/git-bz-moz.git
[submodule "emacs.d/fill-column-indicator"]
	path = emacs.d/fill-column-indicator
	url = https://github.com/alpaker/Fill-Column-Indicator.git
[submodule "bin/gti-git"]
	path = bin/gti-git
	url = https://github.com/rwos/gti.git
[submodule "emacs.d/helm"]
	path = emacs.d/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "tmux-powerline"]
	path = tmux-powerline
	url = git://github.com/erikw/tmux-powerline.git
[submodule "emacs.d/fic-mode.git"]
	path = emacs.d/fic-mode.git
	url = https://github.com/lewang/fic-mode.git
[submodule "emacs.d/git-gutter-fringe"]
	path = emacs.d/git-gutter-fringe
	url = https://github.com/syohex/emacs-git-gutter-fringe
[submodule "vim-powerline-for-fontpatcher"]
	path = vim-powerline-for-fontpatcher
	url = https://github.com/Lokaltog/vim-powerline
[submodule "emacs.d/git-gutter"]
	path = emacs.d/git-gutter
	url = https://github.com/syohex/emacs-git-gutter.git
[submodule "emacs.d/clang-complete-async.git"]
	path = emacs.d/clang-complete-async.git
	url = https://github.com/Golevka/emacs-clang-complete-async.git
[submodule "emacs.d/clang-complete-async"]
	path = emacs.d/clang-complete-async
	url = https://github.com/Golevka/emacs-clang-complete-async.git
[submodule "emacs.d/magit"]
	path = emacs.d/magit
	url = https://github.com/magit/magit
[submodule "emacs.d/fringe-helper"]
	path = emacs.d/fringe-helper
	url = https://github.com/nschum/fringe-helper.el.git
[submodule "emacs.d/sunburst-theme"]
	path = emacs.d/sunburst-theme
	url = https://github.com/wfarr/sunburst-theme.el
[submodule "bin/git-imerge.git"]
	path = bin/git-imerge.git
	url = https://github.com/mhagger/git-imerge.git
[submodule "emacs.d/ace-jump-mode"]
	path = emacs.d/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode
[submodule "emacs.d/purple-haze-theme"]
	path = emacs.d/purple-haze-theme
	url = https://github.com/jasonm23/emacs-purple-haze-theme.git
[submodule "emacs.d/powerline"]
	path = emacs.d/powerline
	url = https://github.com/milkypostman/powerline
[submodule "moz/hacky.mk"]
	path = moz/hacky.mk
	url = https://github.com/bgirard/hacky.mk.git
[submodule "bin/ninja.git"]
	path = bin/ninja.git
	url = https://github.com/martine/ninja.git
