FROM archlinux

ARG USER=nephyrin
ARG PASS=dumbpass
# - Cleanup pacman.conf
# - Set mirror
# - Setup keyring
# - Update
# - adopt all pacnews
# - cleanup pacman.conf again (it might've gotten pacnew'd)
# - Reinstall packages missing files (from deleting NoExtract lines)
# - Add $USER and build users
# - Set $USER pass
# - Enable passwordless sudo (for now)
RUN sed -ri '/^NoExtract / d' /etc/pacman.conf && \
    sed -ri 's|^#?(ParallelDownloads) .*|\1 = 20|' /etc/pacman.conf && \
    echo 'Server = http://mirror.pointysoftware.net/archlinux/$repo/os/$arch' > /etc/pacman.d/mirrorlist && \
    pacman-key --init && pacman-key --populate && \
    pacman -Syy --noconfirm archlinux-keyring && pacman --noconfirm -Suu && \
    pacman -S --noconfirm $(pacman -Qnq) && \
    pacman -S --noconfirm --needed git sudo base base-devel && \
    rm -vf /etc/pacman.d/mirrorlist.pacnew /etc/{passwd,gpasswd,group,shadow,gshadow}.pacnew && \
    find / -xdev -name '*.pacnew' -exec bash -c 'mv -v -- "$1" "${1%.pacnew}"' -- {} \; && \
    sed -ri 's|^#Color|Color|' /etc/pacman.conf && \
    sed -ri 's|^#?(ParallelDownloads) .*|\1 = 20|' /etc/pacman.conf && \
    sed -ri 's|^#(NoProgressBar)|#\1|' /etc/pacman.conf && \
    sed -ri 's|^#(DisableSandbox)|\1|' /etc/pacman.conf && \
    useradd "$USER" -m -G wheel && \
    useradd build -m -G wheel && \
    printf %s "$USER:$PASS" | chpasswd && \
    echo '%wheel ALL=(ALL:ALL) NOPASSWD: ALL' > /etc/sudoers.d/wheel && \
    systemd-machine-id-setup

# Switch to build user, build and install paru (with passwordless sudo)
USER build
RUN cd && \
    git clone https://aur.archlinux.org/paru.git && \
    cd paru && \
    makepkg --noconfirm -scri && \
    cd && \
    git clone https://aur.archlinux.org/claude-code.git && \
    cd claude-code && \
    makepkg --noconfirm -scri

# Switch back to root
# - nuke build user
# - change back to passwordful sudo
# - nuke cache/temp files
# - init file
USER root

RUN echo '%wheel ALL=(ALL:ALL) ALL' > /etc/sudoers.d/wheel && \
    userdel build && \
    rm -rf /home/build /var/cache/pacman/pkg /etc/pacman.d/gnupg /etc/machine-id /var/lib/dbus/machine-id && \
    echo 'ALL    ALL=(root) NOPASSWD: /init.sh' > /etc/sudoers.d/zz-entrypoint

COPY --chmod=755 /nepharch.init.sh /init.sh
ENTRYPOINT ["/init.sh"]

USER nephyrin
WORKDIR /home/nephyrin
